*{
    padding: 0;
    margin:0;
}
body{
    background: rgb(224, 224, 224);
}
header{
    min-height: 8vh;
    background: #D61F31;
}
header .container{
    height: 8vh;
    display: flex;
    align-items: center;
}

header .container .btn-atras i{
    color: white;
    font-weight: bold;
    /* font-size: 2rem; */

}
.certificado{
    margin: 0;
    position: relative;
    
}
.container{
    position: relative;
    /* background: white; */
}
.certificado .persona{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-user{
    color: white;
    font-size: 30px;
    /* background: green; */
    padding: 5px;
    border-radius: 50%;
    border: 2px solid white;
}
.certificado .descripcion{
    position: absolute;
    top: 57%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px !important;
    line-height: 25px !important;
    width: 80%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-weight: ; */
    text-align: center;
    align-items: center;

}
.certificado .fecha{
    position: absolute;
    top: 68%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 16px !important;
    line-height: 25px !important;
    width: 80%;
    font-family: cursive;
    font-weight: 900;
    text-align: center;
    align-items: center;

}
.jumbotron{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.certificado .nro_certificado{
    position: absolute;
    top: 33%;
    right: 11%;
    font-size: 20px;
    font-weight: bold;

}
.certificado .qr{
    position: absolute;
    top:20px;
    left: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.negrilla{
    font-weight: 900;
}

.certificado img{
    width: 100%;
}
.btnImprimir{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 100px;
    font-size: 1.5rem;
    background: #D61F31;
    color: white;
    font-weight :bold;
    
}
.container-certificados{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px 0;
    column-gap: 50px;
    row-gap: 50px;
}
.container-certificados .card .card-header{
    background: red;
}
.container-certificados .card .card-footer{
    background: rgba(0, 0, 0, 0.712);
    text-align: center;
    font-weight: bold;
    color: white;
}
.container-certificados .card .card-body{
    padding: 0;
    overflow: hidden;
    border-bottom: 5px solid white;
    position: relative;
}
.container-certificados .card .card-body .material-icons{
    color: red;
    position: absolute;
    z-index: 10;
    top: 5%;
    left: 5%;
    background: red;
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    opacity: .3;
    transition: .3s;
    cursor: pointer;
    text-align: center;
}
.container-certificados .card .card-body .material-icons:hover{
    
    transform: scale(1.1);
}
.container-certificados .card .card-body figure{
    margin:0;
}
.container-certificados .card .card-body figure img{
    width: 100%;
    transition: .3s;
}
.container-certificados .card:hover img{
    transform: scale(1.1);
    
}
.container-certificados .card:hover .material-icons{
    opacity: 1;
    transform: scale(1);
}

.sombra{
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,.5);
}

@media print and (width: 5.83in) and (height: 8.27in) {
    @page {
    margin: 1in;
    }
}

/**/

input[type=radio]{
    /* display: block; */
    background: red;
    width: 50px;
  }
  
  /**/
.donate{
  width: 100%;
}
.donate label {
  margin: 0 4px;
  background-color: #343A40;
  color: white;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  overflow: hidden;
  cursor: pointer;
  font-family: var(--textFont);
  /* padding: 5px 10px; */
}

.donate label span {
  text-align: center;
  font-size: 14px;
  padding: 3px 15px;
  display: block;
  
}

.donate input {
  padding: 5px;
}
.donate label input {
  position: absolute;
  opacity: 0;
  /*top: -20px;*/
  
}
.contenerdor-login .card.sombra .logo-login{
    width: 20%;
}

.donate input:checked+span {
  background: red;
  color: #F7F7F7;
}
.jumbotron{
    position: relative;
}
.jumbotron i{
    font-size: 40px;
    background: white;
    border-radius: 50%;
    border: 3px solid black;
    box-sizing: content-box;
    color: black;
  position: absolute;
  top: 15%;
  left: 2%;
}
.titulo{
    text-align: center;
}
.card .card-header{
      text-align: center;
      background: #D61F31;
      color: white;
      font-weight: bold;
}
.card .card-body figure{
    text-align: center;
}
.card .card-body img{
    width: 80%;
}
label{
    font-weight: bold;
}

.btn-atras{
    color: white;
    font-size: 2rem;

}
.btnsss{
    color: red;
    font-size: 2rem;
}
.btn-cerrar-sesion span{
    color: white;
    text-decoration: none;
}
.btn-cerrar-sesion:hover{
    text-decoration: none;
}
/* .btn-cerrar-sesion s{  */
