*{
    padding: 0;
    margin:0;
}
body{
    background: rgb(224, 224, 224);
}
header{
    min-height: 8vh;
    background: #D61F31;
}
.certificado{
    margin: 0;
    position: relative;
    
    
}
.container{
    position: relative;
}
.certificado .persona{
    position: absolute;
    top: 30%;
    left: 28%;
    bottom: 0;
    right: 0;
    font-size: 16px;
    font-family:cursive;
    font-weight: bold;
    
}

.certificado img{
    width: 100%;
}
.btnImprimir{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 30px;
    right: 100px;
    font-size: 1.5rem;
    background: #D61F31;
    color: white;
    font-weight :bold;
    
}

/*-------LOGIN-------*/
.contenerdor-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*-------*/

.container.reg{
    background: white;
}
.table tbody tr{
    font-size: 12px;
    text-align: center;
}
.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    text-align: center;
    vertical-align: inherit;
}
.container-certificado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgb(126, 126, 126);
    
}

.container-certificado label{
    font-weight: bold;
    color: white;
}